<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <form method='post'>
        <input type='text' name='name'/>
        <select name='language'>
            <option value=''>--Please choose an option--</option>
            <option value='French'>French</option>
            <option value='English'>English</option>
            <option value='Spanish'>Spanish</option>
            <option value='Italian'>Italian</option>
            <option value='Flemish'>Flemish</option>
            </select>
        <input type='submit' value='Greet me!'>
    </form>
</body>
</html>